<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.talhasyed.bidit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- User Provider  Start -->
        <provider
            android:name=".storage.UserProvider"
            android:authorities="com.talhasyed.bidit.provider.UserProvider"
            android:enabled="true" />
        <!-- User Provider  End -->


        <!-- Bid Provider  Start -->
        <provider
            android:name=".storage.BidProvider"
            android:authorities="com.talhasyed.bidit.provider.BidProvider"
            android:enabled="true" />
        <!-- Bid Provider  End -->


        <!-- Listing Provider  Start -->
        <provider
            android:name=".storage.ListingProvider"
            android:authorities="com.talhasyed.bidit.provider.ListingProvider"
            android:enabled="true" />
        <!-- Listing Provider  End -->
        <activity
            android:name=".controllers.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".controllers.SignUpActivity"
            android:label="@string/action_sign_up"></activity>
    </application>

</manifest>